{% extends 'generator/base.html' %}

{% block content %}
   

    <div class='subheader' style="text-align: center;" >
        Training countdown:
    </div>


    <div style="text-align: center;" >
        <div id="countDown">
            <script>
                function countdown( elementName, minutes, seconds )
                {
                    var element, endTime, hours, mins, msLeft, time;

                    function twoDigits( n )
                    {
                        return (n <= 9 ? "0" + n : n);
                    }

                    function updateTimer()
                    {
                        msLeft = endTime - (+new Date);
                        if ( msLeft < 1000 ) {
                            element.innerHTML = "Time is up!";
                        } else {
                            time = new Date( msLeft );
                            hours = time.getUTCHours();
                            mins = time.getUTCMinutes();
                            element.innerHTML = (hours ? hours + ':' + twoDigits( mins ) : mins) + ':' + twoDigits( time.getUTCSeconds() );
                            setTimeout( updateTimer, time.getUTCMilliseconds() + 500 );
                        }
                    }

                    element = document.getElementById( elementName );
                    endTime = (+new Date) + 1000 * (60*minutes + seconds) + 500;
                    updateTimer();
                }

                countdown( "countDown", {{ train_duration }}, 0 );
            </script>
        </div>
    </div>

    <div class='subheader' style="text-align: center;" >
        Warmup countdown:
    </div>

    <div style="text-align: center;" >
        <div id="countDown2">
            <script>
                function countdown2( elementName, minutes, seconds )
                {
                    var element, endTime, hours, mins, msLeft, time;

                    function twoDigits( n )
                    {
                        return (n <= 9 ? "0" + n : n);
                    }

                    function updateTimer()
                    {
                        msLeft = endTime - (+new Date);
                        if ( msLeft < 1000 ) {
                            element.innerHTML = "Time is up!";
                        } else {
                            time = new Date( msLeft );
                            hours = time.getUTCHours();
                            mins = time.getUTCMinutes();
                            element.innerHTML = (hours ? hours + ':' + twoDigits( mins ) : mins) + ':' + twoDigits( time.getUTCSeconds() );
                            setTimeout( updateTimer, time.getUTCMilliseconds() + 500 );
                        }
                    }

                    element = document.getElementById( elementName );
                    endTime = (+new Date) + 1000 * (60*minutes + seconds) + 500;
                    updateTimer();
                }

                countdown2( "countDown2", {{ warmup_time }}, 0 );
            </script>
        </div>
    </div>



{% endblock %}



<!-- 

<script type="text/javascript"> 
   var a = "{{someDjangoVariable}}";
</script> -->