{% extends 'generator/base.html' %}

{% block content %}


<h2>
    Your generated trainig looks like this:
</h2>

<h3>
    Warmup will take you 4 minutes to finish:
</h3>

<h4>
    <ul>
        <li>wrist rolling</li>
        <li>arms rolling</li>
        <li>hips rolling</li>
        <li>knees rolling</li>
        <li>head rolling</li>
    </ul>
</h4>

<h3>
    Cardio part will take you 5 minutes to finish:
</h3>

<h4>
    <ul>
        <li>jumping jacks - 1 minute </li>
        <li>knees up - 1 minute </li>
        <li>jumping wide-narrow - 1 minute </li>
        <li>knees up - 1 minute </li>
        <li>jumping wide-narrow - 1 minute </li>
    </ul>
</h4>


<h3>
    Standard excercises will take you 4 minutes to finish:</h3>
</h3>


<h4>
    <ul>
        <li>50 Crunches - 2 minutes </li>
        <li>20 (side) leg extension - 1 minute </li>
    </ul>
</h4>


<h3>
    Universal part will take you 2 minutes to finish:
</h3>


<h4>
    <ul>
        <li>50 Lying Floor Leg Raise - 2 minutes </li>
    </ul>
</h4>


<form method="get" action="..">
    <button type="submit">START TRAINING!</button>
</form>

{% endblock %}