{% extends 'generator/base.html' %}

{% block content %}

    <div class='subheader'>
        
            You chose the {{ train_duration }} minutes {{ train_type }} training. <br>
            Remember, be strong and never give up! When it hurts - it grows! <br><br>
            So this is how your training will look like:
        
    </div>
    <!-- <div style='clear:both;'></div> -->

    <div id='excercises'> 

        <div class='excercise'>
            <div class='excercise_title'>
                
                    Warmup - {{ warmup_time }} minutes:
                
            </div>
            <div class='excercise_list'>
                {% for exc in warmup_list %}
                    <p>- {{exc}}</p>
                {% endfor %}
            </div>
            
        </div>

        <div class='excercise'>
            <div class='excercise_title'>
                
                    Cardio part - {{ cardio_time }} minutes:
                
            </div>
            <div class='excercise_list'>
                {% for exc in cardio_list %}
                    <p>- {{ exc }}</p>
                {% endfor %}
            </div>
        </div>
       
        <div class='excercise'>
            <div class='excercise_title'>
               
                    Standard part - {{ excercises_time }} minutes:
                
            </div>
            <div class='excercise_list'>
                {% for exc in excercises_list %}
                    <p>- {{ exc }}</p>
                {% endfor %}
            </div>
        </div>

        <div class='excercise'>
            <div class='excercise_title'>
                {% if train_type == 'KARATE' %}
                    Karate part - {{ other_time }} minutes:
                {% else %}
                    Other part - {{ other_time }} minutes:
                {% endif %}
            </div>
            <div class='excercise_list'>
                {% for exc in other_list %}
                    <p>- {{ exc }}</p>
                {% endfor %}
            </div>
        </div>

        {% if stretching_time != 0 %}
        <div class='excercise'>
            <div class='excercise_title'>
                Stretching - {{ stretching_time }} minutes.
            </div>
        </div>
        {% endif %}

        <div style='clear:both;'></div>
    </div>
    

    <div id='start_training'>
        <form method="get" action="/countdown">
            <button type="submit">START TRAINING!</button>
        </form>
        <div style='clear:both;'></div>
    </div>
    <div style='clear:both;'></div>


{% endblock %}